.fontstyle {
    font-style: italic ;
}

#bg {
    background-color: chartreuse;
}

.size {
    font-size: 50px;
}

.color {
    color: blue;
}
header {
    color: red;
}

p {
    color: black;
}

.namecolor {
    color:black
}